@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width:100%;    
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

header{
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border-bottom: 2px solid #D9D9D9;

}

.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
    height: 5em;
}
.logo img :hover{
    transform: scale(1.1);
}
.navbar{
    float: left;
    display: flex;
    align-items: center;
    min-height: 100px;
    z-index: 1000;
}
.navbar ul{
    list-style: none;
    padding: 0 10px;
}
.navbar ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navbar ul li:hover{
    transform: scale(1.1);
}
.navbar ul li a{
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
    text-decoration: none;

}
.navbar ul li a:hover{
    color: #00c9bd;
    transform: scale(1.1);
}
.navbar ul li:hover .hijos1{
    display: block;
}
.navbar .submenu1 .hijos1{
    display: none;
    background: white;
    position: absolute;
    width: 100%;
}
.navbar ul li:hover .hijos2{
    display: block;
}
.navbar .submenu2 .hijos2{
    display: none;
    background: white;
    position: absolute;
    width: 100%;
}
.navbar ul li:hover .hijos3{
    display: block;
}
.navbar .submenu3 .hijos3{
    display: none;
    background: white;
    position: absolute;
    width: 100%;
}

/* barra de busqueda*/
.search-container {
    position: relative;
  }
  
  #search-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  #search-results li {
    padding: 8px;
    cursor: pointer;
  }
  
  #search-results li:hover {
    background-color: #f0f0f0;
  }
  
.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a:hover{
    color:blueviolet;
}

/* carrito */   

.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu #img-carrito{
    height:30px;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter:blur(10px);
    top:100%;
    z-index:1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width:400px;
}
table{
    width: 100%;
}
th, td{
    color:#FFFFFF;
}
.borrar{
    background-color:verde;
    border-radius: 50%;
    padding:5px 10 px;
    color:#FFFFFF;
    font-weight:800;
    cursor: pointer;
}
/* ofertas */   

.oferts {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  }

  
  .ofert-1 {
    width: 270px;
    margin: 10px;
    border: black; 
    padding: 10px;
    box-sizing: border-box; 
    background-color: white; 
}
  }
  
  .ofert-1 img {
    width: 100%; 
  height: 250px;
  object-fit: cover; 
  border-radius: 5px; 
  }
  
  .ofert-txt {
    text-align: center; 
    margin-top: 20px; 
  }
  section.oferts {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

/* Productos */
.products.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.products h3 {
  text-align: center; 
  margin-bottom: 10px; 
}

.box-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 270px;
  margin: 10px;
  border: white; 
  padding: 10px;
  box-sizing: border-box; 
  background-color: white; 
}

.box img {
  width: 100%; 
  height: 250px;
  object-fit: cover; 
  border-radius: 5px; 
}

.product-txt {
  text-align: center; 
  margin-top: 10px; 
}


  

